@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("/assets/fonts/Lato-Light.ttf") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/assets/fonts/Lato-Regular.ttf") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/assets/fonts/Lato-Bold.ttf") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("/assets/fonts/Lato-Italic.ttf") format("woff"); }

body {
  background: #FFF4E8;
  color: #362d26;
  font-family: "Lato", sans-serif;
  padding-bottom: 100px; }

.not-chrome .buttons {
  display: none; }

.not-chrome .sorry {
  display: block; }

.sorry {
  display: none;
  font-size: 24px;
  font-weight: 300;
  background: #AA3A3A;
  color: white;
  padding: 20px;
  width: 100%; }

.site-container {
  max-width: 625px;
  min-width: 325px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px; }
  .site-container * {
    box-sizing: border-box; }
  .site-container header {
    margin-bottom: 40px; }
    .site-container header img {
      width: 100px;
      vertical-align: top;
      height: 100px;
      margin-left: -35px; }
    .site-container header h1 {
      font-weight: bold;
      vertical-align: top;
      font-size: 80px;
      margin-bottom: 10px; }
    .site-container header .subheading {
      font-size: 28px;
      font-weight: 300; }
  .site-container a {
    color: #E49219;
    text-decoration: none; }
    .site-container a:visited {
      color: #E49219;
      text-decoration: none; }
    .site-container a:hover, .site-container a:visited:hover {
      text-decoration: underline; }
  .site-container button {
    display: inline-block;
    font-family: "Lato", sans-serif;
    background-color: #FAA72C;
    color: white;
    font-size: 22px;
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
    transition: background-color 0.15s;
    margin: 10px; }
    .site-container button:hover {
      background-color: #fbb145; }
    .site-container button:active {
      position: relative;
      top: 1px; }
  .site-container .buttons {
    margin-bottom: 40px; }
  .site-container button.try {
    background-color: #42311A; }
    .site-container button.try:hover {
      background-color: #543f21; }
  .site-container .section {
    text-align: left;
    line-height: 1.8em;
    max-width: 625px;
    margin: 0 auto; }
    .site-container .section h2 {
      font-weight: 300;
      font-size: 32px;
      text-align: center; }
    .site-container .section p {
      font-size: 18px;
      text-align: justify; }
    .site-container .section .share-links {
      margin-top: 30px;
      font-weight: bold;
      text-align: center; }

/*# sourceMappingURL=main.css.map */