@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("/assets/fonts/Lato-Light.ttf") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/assets/fonts/Lato-Regular.ttf") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/assets/fonts/Lato-Bold.ttf") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("/assets/fonts/Lato-Italic.ttf") format("woff"); }

body {
  background: #FFF4E8;
  color: #362d26;
  font-family: "Lato", sans-serif;
  padding-bottom: 100px; }

.buttons.not-chrome {
  display: none; }

.not-chrome .buttons, .not-chrome .section.misc-commands, .not-chrome .section.command-library {
  display: none; }

.not-chrome .buttons.not-chrome,
.not-chrome .sorry {
  display: block; }

.sorry {
  display: none;
  font-size: 24px;
  font-weight: 300;
  background: #AA3A3A;
  color: white;
  padding: 20px;
  width: 100%; }

.site-container {
  max-width: 625px;
  min-width: 325px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px; }
  .site-container * {
    box-sizing: border-box; }
  .site-container header {
    margin-bottom: 40px; }
    .site-container header img {
      width: 100px;
      vertical-align: top;
      height: 100px;
      margin-left: -35px; }
    .site-container header h1 {
      font-weight: bold;
      vertical-align: top;
      font-size: 80px;
      margin-bottom: 10px; }
      .site-container header h1 a, .site-container header h1 a:visited, .site-container header h1 a:hover, .site-container header h1 a:link {
        text-decoration: none;
        color: #362D26; }
    .site-container header .subheading {
      font-size: 28px;
      font-weight: 300; }
  .site-container a {
    color: #E49219;
    text-decoration: none; }
    .site-container a:visited {
      color: #E49219;
      text-decoration: none; }
    .site-container a:hover, .site-container a:visited:hover {
      text-decoration: underline; }
  .site-container button {
    display: inline-block;
    font-family: "Lato", sans-serif;
    background-color: #FAA72C;
    color: white;
    font-size: 22px;
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
    transition: background-color 0.15s;
    margin: 10px; }
    .site-container button:hover {
      background-color: #fbb145; }
    .site-container button:active {
      position: relative;
      top: 1px; }
  .site-container .buttons {
    margin-bottom: 40px; }
  .site-container button.try {
    background-color: #42311A; }
    .site-container button.try:hover {
      background-color: #543f21; }
  .site-container .section {
    text-align: left;
    line-height: 1.8em;
    max-width: 625px;
    margin: 0 auto 5em; }
    .site-container .section h2 {
      font-weight: 300;
      font-size: 32px;
      text-align: center; }
    .site-container .section p {
      font-size: 18px;
      text-align: justify; }
    .site-container .section .text-center {
      text-align: center; }
    .site-container .section .share-links {
      margin-top: 30px;
      font-weight: bold;
      text-align: center; }
    .site-container .section .soon {
      text-align: center; }
  .site-container ul {
    margin: 0 auto;
    padding: 0;
    width: 400px; }
  .site-container .command {
    display: block;
    margin: 0 0 0.75em;
    padding: 0 0 0.75em;
    border-bottom: rgba(54, 45, 38, 0.15) solid 1px; }
    .site-container .command .icon {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      width: 50px;
      margin-top: 4px;
      border-radius: 3px;
      margin-left: 5px;
      padding: 0 15px;
      background: #362D26 url("https://backtick.ninja//images/command-default.png") no-repeat center center;
      background-size: 60%; }
    .site-container .command .body {
      display: inline-block;
      margin-left: 10px;
      width: 325px;
      line-height: 1.2; }
      .site-container .command .body .name {
        display: block; }
        .site-container .command .body .name .match {
          font-weight: bold;
          color: #ff9900; }
      .site-container .command .body .description {
        margin: 2px 0;
        opacity: 0.8;
        font-size: 14px;
        font-style: italic; }
        .site-container .command .body .description:empty {
          display: none; }
        .site-container .command .body .description .match {
          font-weight: bold;
          color: #ff9900; }
      .site-container .command .body a.link, .site-container .command .body a.link:visited {
        display: inline-block;
        width: auto;
        font-size: 12px;
        margin-top: 3px;
        opacity: 0.5;
        cursor: pointer;
        color: #362D26;
        text-decoration: none; }
        .site-container .command .body a.link:empty, .site-container .command .body a.link:visited:empty {
          display: none; }
        .site-container .command .body a.link:hover, .site-container .command .body a.link:visited:hover {
          text-decoration: underline;
          color: #ff9900;
          opacity: 1; }
        .site-container .command .body a.link .match, .site-container .command .body a.link:visited .match {
          font-weight: bold;
          color: #ff9900; }

/*# sourceMappingURL=main.css.map */